body {
  padding: 0;
  margin: 0;
}

.spacer {
  height: 30vh;
  background-color: rgb(18, 135, 121);
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: 1.5px;
}

#stream {
  height: 500vh;
  display: flex;
  justify-content: center;
  background-color: #111;
}

canvas {
  position: sticky;
  top: calc(50vh - 260px);
  width: 685;
  height: 511;
}
